@model Sis457RoboticaRas.Models.Categorium

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Categoria</h1>

<h3>¿Esta seguro que desea eliminar la categoria?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Usuario Registro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioRegistro)
        </dd>
        <dt class = "col-sm-2">
            Fecha Registro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            Estado
        </dt>
        <dd class = "col-sm-10">
            @(Model.Estado == 1 ? "Activo" : "Inactivo")
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCategoria" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        
        <a asp-action="Index">Volver</a>
    </form>
</div>
