@model Sis457RoboticaRas.Models.Categorium

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de Categoria</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Usuario Registro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioRegistro)
        </dd>
        <dt class = "col-sm-2">
            Fecha Registro
        </dt>
        <dd class = "col-sm-10">
            @Model.FechaRegistro.ToLongDateString()
        </dd>
        <dt class = "col-sm-2">
            Estado
        </dt>
        <dd class = "col-sm-10">
            @(Model.Estado == 1 ? "Activo" : "Inactivo")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCategoria">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
