<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Sis457RoboticaRas</title>
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>
<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="index.html">
                        <img src="~/images/logo.png" alt="">
                        <span>
                            ASRRobotics
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav  ">
                                <li class="nav-item active">
                                    <a asp-controller="Home" asp-action="Index" class="nav-link active">Inicio <span class="sr-only">(current)</span></a>
                                </li>
                                @if (User.Identity?.IsAuthenticated == true)
                                {
                                <li class="nav-item">
                                    <a asp-controller="Productos" asp-action="Index" class="nav-link">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Clientes" asp-action="Index" class="nav-link">Clientes</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Categoriums" asp-action="Index" class="nav-link">Categorias</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Empleados" asp-action="Index" class="nav-link">Empleados</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Usuarios" asp-action="Index" class="nav-link">Usuarios</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Tienda" asp-action="Crear" class="nav-link">Ventas</a>
                                </li>
                                }
                            </ul>

                        </div>
                        <div class="quote_btn-container  d-flex justify-content-center">
                            <a href="">
                                <img src="~/images/call.png" alt="">
                                CALL: 70329516    
                            </a>
                            @if (User.Identity?.IsAuthenticated == false)
                            {
                                <a asp-controller="Account" asp-action="Login" style="color: wheat">Iniciar Sesión</a>
                            }
                            else
                            {
                                @await Html.PartialAsync("_LogoutPartial")
                            }
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
        @RenderBody()
        <!-- footer section -->
        <!-- info section -->
        <section class="info_section layout_padding">
            <div class="container">
                <div class="info_social">
                    <div>
                        <a href="">
                            <img src="~/images/fb.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="~/images/twitter.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="~/images/linkedin.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="~/images/insta.png" alt="">
                        </a>
                    </div>
                </div>
                <div>
                    <p>
                        ASR-ROBOTIC es la mayor tienda multinacional de Bolivia y almacenes de descuento en todo bolivia.
                        La compañía comenzó con una tienda en 2022 en Sucre (Bolivia) donde actualmente 
                        tiene su sede. En 2023, existen alrededor de 5 tiendas pertenecientes a ASR-ROBOTIC 
                        en más de 4 departamentos.
                    </p>
                </div>
            </div>
        </section>
        <section class="container-fluid footer_section">
            <p>
                &copy; 2019 All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </section>
        <!-- footer section -->
        <!-- end info_section -->
        <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>      
        </body>
        </html>

